<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Configuration of getCustomerBrokerInstructions-->
		<add key="Username_getCustomerBrokerInstructions" value="WSM" />
		<add key="clientIdentCode_getCustomerBrokerInstructions" value="WORLDTECH" />
		<add key="clientSystemId_getCustomerBrokerInstructions" value="WTSPRING" />
		<add key="url_getCustomerBrokerInstructions" value="https://rz3.aeb.de:443/test2broker/servlet/bf/BISBF" />
		<add key="password_getCustomerBrokerInstructions" value="ko8awezu()'(oijl46hf" />
		<add key="Call_getCustomerBrokerInstructions" value="false" />
		<add key="IntervalInMinutes_getCustomerBrokerInstructions" value="1" />
		<add key="BackupPath_getCustomerBrokerInstructions" value="E:\test\Backup\getCustomerBrokerInstructions" />
		<add key="StoragePath_getCustomerBrokerInstructions" value="E:\test\getCustomerBrokerInstructions" />
		<add key="StoragePath_Attached_getCustomerBrokerInstructions" value="E:\test\getCustomerBrokerInstructions\Attached"/>
		<add key="MakeBackupFiles_getCustomerBrokerInstructions" value="true" />
		<!-- Coonfiguration End of getCustomerBrokerInstructions-->

		<!-- Configuration of addBrokerInstructionEvents-->
		<add key="url_addBrokerInstructionEvents" value="https://rz3.aeb.de:443/test2broker/servlet/bf/BISBF" />
		<add key="Username_addBrokerInstructionEvents" value="WSM" />
		<add key="clientIdentCode_addBrokerInstructionEvents" value="WORLDTECH" />
		<add key="clientSystemId_addBrokerInstructionEvents" value="WTSPRING" />
		<add key="password_addBrokerInstructionEvents" value="ko8awezu()'(oijl46hf" />
		<add key="Call_addBrokerInstructionEvents" value="true" />
		<add key="IntervalInMinutes_addBrokerInstructionEvents" value="1" />
		<add key="TaxDocPath_addBrokerInstructionEvents" value="E:\test\Tax.txt" />
		<add key="EventChain_addBrokerInstructionEvents" value="ARC=WAI,SND=WAI,RLD=TAX,TAX=CPLT,CPLT=FIN" />
		<!-- Coonfiguration End of addBrokerInstructionEvents-->

		<!-- Configuration of getDeclarationBack-->
		<add key="Username_getDeclarationBack" value="WSM" />
		<add key="clientIdentCode_getDeclarationBack" value="WORLDTECH" />
		<add key="clientSystemId_getDeclarationBack" value="EXCEL" />
		<add key="declarationTypeCode_getDeclarationBack" value="IMPDECL" />
		<add key="scenarios_getDeclarationBack" value="ATTACHMENTS" />
		<add key="url_getDeclarationBack" value="https://worldtech.dc.aeb.com/worldtechprod1ici/servlet/bf/InternationalCustomsBF" />
		<add key="password_getDeclarationBack" value="crVJ#Ud&amp;oSFde5#nu((6" />
		<add key="Call_getDeclarationBack" value="false" />
		<add key="IntervalInMinutes_getDeclarationBack" value="1" />
		<add key="BackupPath_getDeclarationBack" value="E:\test\Backup\getDeclarationBack" />
		<add key="StoragePath_getDeclarationBack" value="E:\test\getDeclarationBack" />
		<add key="MakeBackupFiles_getDeclarationBack" value="true" />
		<!-- Coonfiguration End of getCustomerBrokerInstructions-->
		
		<!-- General Configuration-->
		
		<add key ="logPath" value="E:\test\logs" />
		<add key ="dbConnectionString" value="Data Source=10.105.9.82;Initial Catalog=SPRING;User ID=sa;Password=Password11;" />
		
		<!-- Configuration for backup path -->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="IBISBFPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="IBISBFPortBinding1" />
            </webHttpBinding>
        </bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="SoapServiceBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					
					<serviceMetadata httpsGetEnabled="true" httpGetEnabled="false" />
					
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
        <client />
    </system.serviceModel>
</configuration>